body {
    color: darkslategrey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategrey;
}
p,h1,h2 {
    margin: 0;
    padding: 0.3em 0;
}
#container {
    width: 80%;
    margin: 0px auto;
    border: 1px solid darkturquoise;
    padding: 0;
}
#container h1 {
    font-size: 20px;
}
#cabecera {
    text-align: left;
    background: teal;
    color: linen;
    margin: 0;
    font-size: 1.5em;
    padding-left: 0.5em;
}
#cabecera #logo {
    width: 2em;
    vertical-align: middle;
}
#post {
    background-color: lavender;
    margin: 0;
}