body {
    color: darkslategrey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    width: 60%;
    margin: 0px auto;
    border: 1px solid darkturquoise;
    padding: 0;
}
#container h1 {
    font-size: 20px;
}
#cabecera {
    background: lightseagreen;
    color: linen;
    margin: 0;
}
#cabecera h2 {
    margin: 0;
}