body {
    color: darkslategrey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2f3f3f;
}
#container {
    width: 60%;
    margin: 0px auto;
    border: 1px solid darkturquoise;
    padding: 0;
}
#container h1 {
    font-size: 20px;
}
#cabecera {
    background: lightseagreen;
    color: linen;
    margin: 0;
}
#cabecera h2 {
    margin: 0;
}
#footer {
    color: floralwhite;
    background-color: darkslategray;
    padding: 0.2em;
}